[Unit]
Description=dotnet Home Dashboard
After=network.target

[Service]
Environment=ASPNETCORE_URLS=http://0.0.0.0:3000/
EnvironmentFile=
;Restart=always
;RestartSec=10
Type=simple
SyslogIdentifier=notes-core
WorkingDirectory=/home/pi/dnHome/dnHomeDashboard
ExecStart=/usr/local/bin/dotnet /home/pi/dnHome/dnHomeDashboard/bin/Release/net6.0/dnHomeDashboard.dll
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
