@{
    ViewData["Title"] = "Котел";
}

    <script type="text/javascript" src="/js/moment-with-locales.min.js"></script>
<script type="text/javascript" src="/js/boiler.js"></script>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-5">
                <h4 class="card-title mb-0">Котел</h4>
                <div class="small text-muted"></div>
            </div>
        </div>
        <!-- /.row-->
        <div class="chart-wrapper" style="margin-top:40px;">
            <canvas class="chart" id="boiler-chart" height="300"></canvas>
        </div>
    </div>
</div>